body {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    font-family: Poppins, Arial;
    padding: 30px;
}

.container {
    background: white;
    max-width: 700px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.3);
}

.forecast-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    overflow-x: auto;
}

.forecast-card {
    background: #f3f9ff;
    padding: 10px;
    border-radius: 12px;
    min-width: 120px;
    text-align: center;
}
